.topic{

}
.nav-tabs {
  pointer-events: none;
  li {
    a {
      border: 0px;
    }
  }
}
.my-tabs {
  background: #eeeeee;
  ul {
    list-style: none;
    display: initial;
    li {
      display: inline;
      a {
        display: block;
        float: left;
        height: 80px;
        //background: #62b368;
        padding: 20px 30px 0 40px;
        position: relative;
        margin: 0 10px 0 0;
        text-align: right;
        font-size: 20px;
        text-decoration: none;
        color: #fff;
        border-bottom-right-radius: 0px;
        border-top-right-radius: 0px;
        &:before {
          content: "";
          border-top: 40px solid transparent;
          border-bottom: 40px solid transparent;
          border-left: 40px solid #eeeeee;
          position: absolute; left: 0; top: 0;
        }
        &:after {
          content: "";
          border-top: 40px solid transparent;
          border-bottom: 40px solid transparent;
          position: absolute; right: -40px; top: 0;
          z-index: 1;
        }
        div {
          margin-top: 5px;
          padding-left: 15px;
          margin-right: -15px;
        }
      }
      &:first-child {
        a {
          border-top-left-radius: 10px;
          border-bottom-left-radius: 10px;
          border-bottom-right-radius: 0px;
          border-top-right-radius: 0px;
          &:before {
            display: none;
          }
          div {
            padding-left: 0;
            margin-right: 0;
          }
        }
      }
      &:last-child {
        a {
          padding-right: 80px;
          border-top-right-radius: 10px;
          border-bottom-right-radius: 10px;
          &:after {
            display: none;
          }
        }
      }
      &.active {
        a {
          background: #8D280D;
          color: #fff;
          border: 0px;
          &:before {
            background: #8D280D
          }
          &:after {
            border-left: 40px solid #8D280D;
          }
        }
      }
    }
  }
}
.general-info {
  width: 35%
}
.phase1 {
  a {
    background: #62b368;
    &:after {
      border-left: 40px solid #62b368;
    }
  }
}
.phase2 {
  a {
    background: #58a15d;
    &:after {
      border-left: 40px solid #58a15d;
    }
  }
}
.phase3 {
  a {
    background: #4e8f53;
    &:after {
      border-left: 40px solid #4e8f53;
    }
  }
}
.phase4 {
  a {
    background: #447d48;
    &:after {
      border-left: 40px solid #447d48;
    }
  }
}
.phase5 {
  a {
    background: #3a6b3e;
    &:after {
      border-left: 40px solid #3a6b3e;
    }
  }
}
.phase6 {
  a {
    background: #315934;
    &:after {
      border-left: 40px solid #315934;
    }
  }
}
.phase7 {
  a {
    background: #274729;
    &:after {
      border-left: 40px solid #274729;
    }
  }
}
